@font-face {
    font-family: "DM Sans Variable";
    src: url("./assets/fonts/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
    font-family: "Poppins";
    src: url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
}